// Variables
// --Colors
$interface-color: #2a2925;
$font-color: #f7f4f8;
$header-bg: #808fa3;
$square-color: #0d1825;
$square-done-color: #2fbbfb;
// --Fonts
// --Dimensions

// Mixin
@mixin flex($justify, $align, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// Global Rules
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: $interface-color;
    color: $font-color;
    max-height: 100vh;
}
button {
    font-family: inherit;
}
.container {
    margin: auto;
    max-height: 100vh;
    position: relative;
    @media (max-width: 576px) {
        width: auto;
    }
    @media (min-width: 577px) {
        width: 400px;
    }
    @media (min-width: 768px) {
        width: 500px;
    }
    @media (min-width:992px) {
        width: 550px;
    }
}

/* Helper Classes */


/* Start interface */
.interface {
    @include flex(center, center, 2em);
    flex-direction: column;
    padding: 1.5rem 0;
    &.hidden {
        display: none;
    }
    img {
        width: 25em;
    }
    .game-mode {
        @include flex(center, center);
        .level {
            @include flex(center, center);
            li {
                display: none;
                margin: 0 1em;
            }
            li.active {
                display: block;
            }
        }
        i {
            font-size: 1.4em;
            padding: .3em .5em;
            cursor: pointer;
        }
    }
    .start-btn {
        background-color: inherit;
        color: $font-color;
        font-size: 1.2em;
        border: 2px solid #424242;
        border-radius: 1.6em;
        padding: .8em 2em;
        cursor: pointer;
    }
}
/* End interface */

/* Start game dsesign */
.game {
    overflow: hidden;
    max-width: 100%;
    @include flex(center, center);
    flex-direction: column;
    transform: scale(0);
    transition: transform .5s;
    &.show {
        transform: scale(1);
    }
    .game-header {
        @include flex(space-between, center, 2em);
        background-color: $header-bg;
        padding: .4em 1em;;
        width: 100%;
        font-size: 1.1rem;
        .tools {
            @include flex(center, center);
            flex-direction: column;
            .icons {
                i {
                    display: none;
                    cursor: pointer;
                    padding: .6rem 1rem;
                }
                i.active {
                    display: block;
                }
            }
        }
        .retry {
            padding: .8rem 1rem;
            cursor: pointer;
        }
    }
    .game-field {
        width: 100%;
        max-height: 100%;
        background-color: $header-bg;
        display: grid;
        grid-template-columns: repeat(9, minmax(23px , 1fr));
        grid-template-rows: repeat(9, minmax(23px, 1fr));
        gap: 1px;
        padding: {
            top: 0;
            right: .1em;
            left: .1em;
            bottom: .2em;
        }
        span {
            background-color: $square-color;
            display: block;
            aspect-ratio: 1 / 1;
            cursor: pointer;
            @include flex(center, center);
            color: $font-color;
            font-size: 2em;
            font-weight: bold;
            @media (max-width: 576px) {
                font-size: 1.2em;
            }
        }
        span.opened {
            background-color: $square-done-color;
        }
    }
}
/* Popup Winning */
.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    @include flex(center, center);
    transform: translate(-50%,-50%) scale(0);
    transition: transform .3s;
    background-color: rgba(0 0 0 / .3);
    &.show {
        transform: translate(-50%,-50%) scale(1);
    }
    .popup {
        background-image: url(../imgs/win-bg.jfif);
        padding: 2em 1em 1em 1em;
        border-radius: .5em;
        color: #fff;
        position: relative;
        h2 {
            font-size: 2em;
            margin-bottom: .8em;
        }
        p {
            font-size: 1em;
        }
        .retry {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%,-50%);
            background-color: #f7f4f8;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            cursor: pointer;
            @include flex(center, center);
            i {
                color: #0d1825;
            }
        }
    }
}
/* End game dsesign */